[Unit]
Description=Scheduler Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/golf
ExecStart=/var/www/golf/.venv/bin/python scheduler.py

StandardOutput=append:/var/log/golf/scheduler.log
StandardError=append:/var/log/golf/scheduler.log

Restart=always

[Install]
WantedBy=multi-user.target