[Unit]
Description=RQ Worker Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/golf
Environment=RQ_REDIS_URL=redis://localhost:6379
ExecStart=OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES /var/www/golf/env/bin/rq worker squash recurring golf brs int --logging_level DEBUG --url="$RQ_REDIS_URL"

StandardOutput=append:/var/log/golf/worker.log
StandardError=append:/var/log/golf/worker.log

Restart=always

[Install]
WantedBy=multi-user.target