[Unit]
Description=RQ Worker Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/golf
Environment=RQ_REDIS_URL="redis://127.0.0.1:6379"
Environment="OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES"
ExecStart=/bin/sh -c '/var/www/golf/.venv/bin/rq worker squash recurring golf brs int --logging_level DEBUG --url="$RQ_REDIS_URL"'

StandardOutput=append:/var/log/golf/worker.log
StandardError=inherit

Restart=always

[Install]
WantedBy=multi-user.target